In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('MovieGenre.csv', encoding = "ISO-8859-1")

In [22]:
df.head()

,imdbId,Imdb Link,Title,IMDB Score,Genre,Poster
0,114709,http://www.imdb.com/title/tt114709,Toy Story (1995),8.3,Animation|Adventure|Comedy,https://images-na.ssl-images-amazon.com/images...
1,113497,http://www.imdb.com/title/tt113497,Jumanji (1995),6.9,Action|Adventure|Family,https://images-na.ssl-images-amazon.com/images...
2,113228,http://www.imdb.com/title/tt113228,Grumpier Old Men (1995),6.6,Comedy|Romance,https://images-na.ssl-images-amazon.com/images...
3,114885,http://www.imdb.com/title/tt114885,Waiting to Exhale (1995),5.7,Comedy|Drama|Romance,https://images-na.ssl-images-amazon.com/images...
4,113041,http://www.imdb.com/title/tt113041,Father of the Bride Part II (1995),5.9,Comedy|Family|Romance,https://images-na.ssl-images-amazon.com/images...

In [21]:
posters = df['Poster']

In [5]:
len(posters)

40108

In [6]:
df.size

240648

In [7]:
df.shape

(40108, 6)

In [8]:
posters_clean = posters.dropna()

In [9]:
print(len(posters_clean))
print(posters_clean.head())

39383
0    https://images-na.ssl-images-amazon.com/images...
1    https://images-na.ssl-images-amazon.com/images...
2    https://images-na.ssl-images-amazon.com/images...
3    https://images-na.ssl-images-amazon.com/images...
4    https://images-na.ssl-images-amazon.com/images...
Name: Poster, dtype: object

In [10]:
df2 = pd.read_csv('Movie_data.csv', encoding = "ISO-8859-1")

In [11]:
#no imdb id number so perhaps not very useful since there doesn't seem to be a reliable foreign key
df2.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [12]:
print(df2['movie_title'].head())

0                                              Avatar
1            Pirates of the Caribbean: At World's End
2                                             Spectre
3                               The Dark Knight Rises
4    Star Wars: Episode VII - The Force Awakens    ...
Name: movie_title, dtype: object

In [13]:
df3 = pd.read_csv('movies.csv')

C:\Users\Joe\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
df3.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [15]:
df3.shape

(45466, 24)

In [16]:
df3['imdbId'] = df3['imdb_id'].str.lstrip('tt0')

In [17]:
df3['imdbId'].head(25)

0     114709
1     113497
2     113228
3     114885
4     113041
5     113277
6     114319
7     112302
8     114576
9     113189
10    112346
11    112896
12    112453
13    113987
14    112760
15    112641
16    114388
17    113101
18    112281
19    113845
20    113161
21    112722
22    112401
23    114168
24    113627
Name: imdbId, dtype: object

In [18]:
df['imdbId'] = df['imdbId'].astype(int)
df3['imdbId'] = df['imdbId'].astype(int)